.note-container {
  background-color: rgb(238, 240, 241);
  border-radius: 10px;
  width: 908px;
  margin-top: 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* transform: translateX(-10px); */
  transition: all 0.3s;
}

.note-container:nth-child(odd) {
  background-color: rgb(221, 220, 220);
}

.note-container > * {
  /* background-color: blue; */
  
  border-radius: 10px;
  /* padding: 0px 0px 0px 0px; */
  margin: 3px 3px 3px 3px;
  /* margin: 0px 0px 0px 0px; */
}

.selected,
.unselected {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.selected {
  background-color: aqua;
}
.unselected {
  background-color: rgb(255, 255, 255);
}




.note-text {
 flex-grow: 3;
}


.note-container > button {
  /* flex-shrink: 2; */
  width: 35px;
  height: 35px;
}
